/*   */

body {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #c0c0c0;
}

#navbar {
    display: flex;
    margin: auto;
    flex-flow: column;
    position: fixed;
    height: 97%;
    text-align: center;
    background-color: #a9a9a9;
    width: 20%;
    border: black solid 5px;
    padding-right: 5px;
    padding: 0;
    z-index: 1;
}

#navbar li {
    border-top: black solid 1px;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-doc {
    display: flex;
    margin: auto;
    flex-flow: column;
    transform: translatex(12%);
    background-color: #c0c0c0;
    width: 76%;
    height: 100%;
    /* border: black solid 5px; */
    padding-left: 6px;
    z-index: 0;
}

@media (max-width: 600px) {
    #navbar {
      width: 90%;
      height: 20%;
      position: relative;
    }
    body {
        flex-direction: column;
    }
    #main-doc {
      width: 90%;
      height: 80%;
      padding-top: 10%;
      transform: translatex(-4%);
      text-align: center;
    }
  }