/*   */

body {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #0B192C;
    font-family: sans-serif;
    overflow-x: hidden;
}

#navbar {
    display: flex;
    margin: auto;
    flex-flow: column;
    position: fixed;
    height: 97%;
    text-align: center;
    background-color: #0B192C;
    color: #ff6500;
    width: 20%;
    border: black solid 10px;
    padding-right: 5px;
    padding: 0;
    z-index: 1;
    border-radius: 30px;
    transform: translatey(-4px);
}

#navbar li {
    border-top: black solid 1px;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main-doc {
    display: flex;
    margin: auto;
    flex-flow: column;
    transform: translatex(13%);
    background-color: #0B192C;
    width: 76%;
    height: 100%;
    /* border: black solid 5px; */
    padding-left: 6px;
    z-index: 0;
    color: #ff6500;
}

header {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

p {
    font-size: 20px;
}

code p {
    font-size: 18px;
}

a {
    color: #ff6500;
    text-decoration: none;
}

a:visited {
    color: #ff6500;
}

a:hover {
    color: black;
}

a:active {
    color: #ff6500;
}

pre {
    border: black solid 10px;
    position: relative;
    border-radius: 30px;
    width: 500px;
    line-height: 0.1;
    padding: 5px;
    text-align: left;
    color: #00ff00;
    background-color: #161616;
    overflow: hidden;
    overflow-x: auto;
}

@media (max-width: 600px) {
    #navbar {
      width: 90%;
      height: 20%;
      position: relative;
      transform: translatex(-8px);
    }
    pre {
        width: 100%;
        transform: translatex(-12px);
    }
    body {
        flex-direction: column;
    }
    #main-doc {
      width: 90%;
      height: 80%;
      padding-top: 10%;
      transform: translatex(-4%);
      text-align: center;
    }
  }
